.gitignore
tsconfig.json
biome.json
package-lock.json
pnpm-lock.yaml

.vscode/**
.vscode-test/**
out/test/**
src/**
webview-app/**
node_modules/**
tasks/**
.agents/**
.devcontainer/**
.pnpm-store/**
*.log
